 feature_task2
bin\
obj\
# Prerequisites
*.d



# Visual Studio files
.vs/
*.VC.db
*.VC.opendb
*.suo
*.user
*.userosscache
*.sln.docstates

# Compiled files
*.exe
*.out
*.app
*.dll
*.lib
*.obj
*.o

# Logs
*.log

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

feature_task2
# Executables
*.exe
*.out
*.app
*.db
*.suo
*.user
*.vsidx
ipch/
*.log
*.tlog
*.ilk
*.idb
*.pdb
*.exe.recipe
*.exe


